/* General */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Ubuntu:wght@400;700&display=swap');

* {
    margin: 0;
    scroll-behavior: smooth;
}

html {
    overflow: hidden;
}

body {
    background-color: #0E0B16;
    color: #E7DFDD;
    font-family: 'Fira Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #E7DFDD;
}

a:visited {
    text-decoration: none;
    color: #E7DFDD;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    color: #E7DFDD;
}

section {
    height: 100vh;
}

/* Splash Page */

.splash {
    display: flex;
    background-image: url(../img/bridge.jpg);
    background-size: cover;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.scrim {
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 0 0 5rem rgba(0, 0, 0, .5);
    justify-content: center;
}

.splash-logo {
    display: flex;
    align-items: center;
}


.splash-logo h1 {
    font-size: 4rem;
}

/* Nav and Logo */
#nav {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2%;
    border-bottom: 2px solid #E7DFDD;
    margin: 2% 0;
}

.logo {
    flex: 0 0 70%;
}

.logo h1 span{
    background-color: #4717F6;
    padding: 6px;
}

.nav-links a {
    margin: 10px;
    padding: 5px 10px;
    transition: 250ms all ease;
}

.nav-links a:hover {
    background-color: #4717F6;
    border-radius: 100px;
}

/* Main Section */

.main {
    margin: 10px 5%;
}

/* footer */

#footer {
    display: flex;
    position: sticky;
    bottom: 0;
    margin-top: 1%;
    justify-content: space-evenly;
    border-top: 2px solid #E7DFDD;
    padding: 20px 0;
}

.footer li {
    list-style: none;
}

.social li {
    display: inline;
    font-size: 2rem;
    margin: 0 10px;
}

/* Portfolio */

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}

.thumbnail {
    width: 250px;
    height: 200px;
}

img {
    width: 350px;
    border: 1px solid #E7DFDD;
    margin: 20px;

}