/*******************************
GENERAL
*******************************/
body {
    margin: 0;
    background-color: rgb(177, 197, 199);
}

a {
    text-decoration:none;
    color:#417C81;
}

a:visited {
    color:#417C81;
}

a.selected{
    color:#012F34;
}

a:hover {
    color:#012F34;
}

.clear {
    clear:both;
}

h3,p {
    color: black;
    font-family: 'cardo', sans-serif;
}

/*******************************
SPLASH
*******************************/
#splash-page {
    background-image: url("../images/Splash_Image.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.splash-page {
    align-items: center;
    text-align: center;
    margin: 5% 0 0 0;
}

.splash-page h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    margin: 0;
    padding: 0;
}

/*******************************
HEADER
*******************************/

header {
    background: #55d6aa;
    opacity: 0.;
    margin:0;
    padding-bottom:0;
    width:100%
}

header h1{
    font-family:'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding-top: 10px; 
    color:#417C81;
}

#logo {
    text-align:center;
    float:left;
    margin-left:20px
}  


/*******************************
NAV
*******************************/

nav {
    float: right;
    margin: 0 20px 0 0;
    padding: 0;
}

ul {
    list-style:none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-left: 5px;
    padding-top: 23px;
    position: relative;
    font-family: 'Cardo', sans-serif;
}

nav a {
    text-transform: uppercase;
}

nav a::before {
    content: '';
    display: block;
    background-color: teal;
    height: 3px;
    width: 100%;
    position: absolute;
   
    top: 0;
    width: 0%;
   
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}


/*******************************
SPLASH PAGE
*******************************/

.splash-page {
    background-image:url(images/Splash_Image.jpg);
}

/*******************************
ABOUT PAGE
*******************************/

.bio-wrapper {
    margin:5% 10% 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.profile-photo {
    height: auto;
    width:30%;
    float:left;
    box-shadow: 5px 5px 12px #417C81;
    margin:auto 0 auto 10%;
 }

.biography {
    display: inline-block;
    float:left;
    width: 50%;
    height: auto;
    #padding:auto 2% auto 2%;
    padding-left: 5%;
}

/*******************************
FOOTER
*******************************/

.footer {
    color: #837EB1;
    font-size:25px;
    margin:2% 40% 2% 40%;
    position:relative;
    align-items: center;
    text-align: center;
}
