
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Roboto:wght@300;400&display=swap');

:root {
    --clr-primary: #5A465D;
    --clr-light: #ECE2D0 ;
    --clr-dark: #1c1D21 ;
    --clr-accent: #46ACC2;

    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Playfair Display', serif;
}

/* layout */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem;
    overflow: hidden;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3 {
    color: var(--clr-primary);
    font-family: var(--ff-accent);
    font-weight: 800;
    line-height: 1;
}

h2,
h3,
p {
    margin-bottom: 1em;
}

/* header, */
section {
    padding: 5rem 0;
    height: 100vh;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.container--narrow {
    max-width: 34rem;
}

.split {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

.thumbnail {
    width: 300px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--clr-accent)
}

/* text styles */
.text-center {
    text-align: center;
}

.text-light {
    font-weight: 300;
}

/* bg colors */
.bg-light {
    background-color: var(--clr-light);
}

.bg-primary {
    background-color: var(--clr-primary);
    color:var(--clr-light)
}

.bg-dark {
    background-color: var(--clr-dark);
    color: var(--clr-light)
}

.bg-primary h2,
.bg-dark h2 {
    color: var(--clr-light);
}

/* Splash Page */
#home {
    background:     linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
    url(../img/crater_lake.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#splash-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:var(--clr-light)
}

#splash-logo h1 {
    color:var(--clr-accent)
}

/* Navbar */
nav {
    position: sticky;
    top: 0;
}

#nav-container {
    display: flex;
    justify-content: center;
}

#nav-container li {
    display: inline-block;
    margin: 0 25px;
    font-size: 1rem;
}


/* Responsive */
@media (min-width: 40em) {
    .split {
        flex-direction: row;
        justify-content: space-evenly;
        row-gap: 1rem;
        flex-wrap: wrap;
    }

    /* header, */
    section {
        padding: 5rem 0;
    }

    #splash-logo h1{
        font-size: 5rem;
    }

    #splash-logo p {
        font-size: 2rem;
    }

    #splash-nav li {
        display: inline-block;
        margin: 20px;
        font-size: 2rem;
    }
    
}