@media only screen and (min-width: 768px) {
    .blur-text {
        color: transparent;
        text-shadow: 0 0 5px #000;
    }

    #splash-logo {
        color: none;
    }

    /* Nav */
    #nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #nav-logo h2 {
        font-size: 3rem;
        margin: 0;
        text-align: center;
    }

    #nav-logo p {
        font-size: 1rem;
        text-align: center;
    }

    #nav-links ul {
        padding: 0;
        margin: 0;
    }

    #nav-links li {
        font-family: "Open Sans", sans-serif;
        font-weight: 900;
        display: inline;
        font-size: 1rem;
    }
    
    section {
        flex-direction: row;
        flex: wrap;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
        padding: auto 5%;
    }

    section h2 {
        font-size: 2rem;
        padding-bottom: 10px;
    }

    section p {
        font-size: 1.5rem;
    }

    section small {
        font-size: 1.3rem;
    }
 
    .circular-image {
        flex: 1 0 2;
    }

    #about .container-flex-column {
        margin-left: 25px;
        flex: 0 1 2;
    }
}

@media only screen and (min-width: 1000px) {
    .circular-image {
        width: 300px;
        height: 300px;
    }

}