@media screen and (min-width: 480px) {
    
}

@media screen and (min-width: 660px) {
/* Header */
    h1 {
        font-size: 4em;
    }
    
    h2 {
        font-size: 2em;
    }
    
    li {
        font-size: 0.9em; 
    }
    
    p {
        font-size: 1.2em;
    }
    
    #wrapper {
        margin: 20px 10%
    }
    
    #profile-photo {
        width: 30%  
    }
    
    .profile-text {
        width: 60%
    }
    
}